repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.2
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.18.2"
    hooks:
      - id: mypy
        args: ["--python-executable", ".venv/bin/python3", "--config-file", "pyproject.toml"]
        additional_dependencies: ["pydantic>=2.0"]
  - repo: https://github.com/DetachHead/basedpyright-prek-mirror
    rev: 1.35.0
    hooks:
      - id: basedpyright

